<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" href="../static/assets/img/truck.png"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#" th:href="@{/}" ><img src="../static/assets/img/navbar-logo.svg" th:src="@{/assets/img/navbar-logo.svg}" alt="navbarlogo"  /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Change password</h5>
                    <form class="form-signin" action="#" th:action="@{/users/{id}/password(id=${editUserPasswordDto.getId()})}" th:object="${editUserPasswordDto}" method="post">

                        <div class="form-label-group">
                            <input type="password" id="inputPreviousPassword" th:field="*{previousPassword}" class="form-control" placeholder="Password" required autofocus>
                            <label for="inputPreviousPassword">Old Password</label>
                            <p class="error-custom" th:errors="*{previousPassword}">Old Password error.</p>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" th:field="*{password}" class="form-control" placeholder="Password" required autofocus>
                            <label for="inputPassword">New Password</label>
                            <p class="error-custom" th:errors="*{password}">New Password error.</p>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" th:field="*{confirmPassword}" class="form-control" placeholder="Repeat password" required autofocus>
                            <label for="inputConfirmPassword">Repeat Password</label>
                            <p class="error-custom" th:errors="*{confirmPassword}">Repeat Password error.</p>

                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>